.start-page {
  position: relative;
  width: 100%;
  height: 580px;
  background: url("../../assets/images/acousticguitar.jpg") 0px 0px fixed;
  background-size: 100% 100%;
}

.start-page .opacity-bg {
  position: absolute;
  width: 100%;
  height: 580px;
  background: rgba(0, 0, 0, 0.7);
}

.start-page .content-bg {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 580px;
}

.start-page .content-bg .title-text {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  height: 320px;
}

.start-page .content-bg .arrow-down {
  position: absolute;
  bottom: 110px;
  left: 50%;
  margin-left: -10px;
  width: 21px;
  height: 29px;
  background: url(../../assets/images/arrow-down.png) no-repeat center center;
  display: block;
  -webkit-animation: bounce-fade 1.2s infinite;

  -moz-animation: bounce-fade 1.2s infinite;

  -o-animation: bounce-fade 1.2s infinite;

  animation: bounce-fade 1.2s infinite;
}

@-webkit-keyframes bounce-fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }

  100% {
    opacity: 1;
    bottom: 35px;
  }
}

@-moz-keyframes bounce-fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }

  100% {
    opacity: 1;
    bottom: 35px;
  }
}

@-o-keyframes bounce-fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }

  100% {
    opacity: 1;
    bottom: 35px;
  }
}

@keyframes bounce-fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }

  100% {
    opacity: 1;
    bottom: 35px;
  }
}

.parallax {
  background: url("../../assets/images/acousticguitarparallax.jpg") repeat fixed
    70%;
}

.parallax-inner {
  padding-top: 10%;
  padding-bottom: 10%;
}

.title-parallax {
  color: #fff;
}

.iconsvg {
  width: 7rem;
  padding: 1rem;
  margin: 0;
}

.marqueebutom {
  height: 48px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fffefe;
  border-bottom: 1px solid #4a4a4a;
}

.marqueebutom .giftext {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
