/* body{
  background-color: white!important;
} */
.background-guitar{
  opacity: 0.9;

}

.butonsingin{
    padding-bottom: 1rem;
}
.borderform{
    border-radius: 4rem;
}

.google-button {
    height: 40px;
    border-width:0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding:0;
}

.twitter-button {
    height: 40px;
    border-width:0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding:0;
}
    
    
   
      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
  
  
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }
  

  

  
 
  
  .buttonn ~ .buttonn {
    margin-left: 20px;
  }





